body {
    padding: 0;
    margin: 0;
    background-color: rgb(192, 205, 206);
}
#container {
    background-color: rgb(231, 237, 238);
    width: 300px;
    padding: 10px;
    margin: auto;
    border-radius: 10%;
}

#lan {
    background-color: #536966;
    margin-bottom: 50px;
}

.language {
    border: none;
    background-color: #536966;
    cursor: pointer;
    padding: 15px;
    color: white;
}

.language:hover {
    background-color: #92b6b1;
    color: black;
}

.motor {
    margin-top: 15px;
}

.buttons{
    margin-top: 10px;
}

#save {
    margin-top: 20px;
}

.button {
    width: 20%;
    height: 25px;
    background-color: #536966;
    border: none;
    color: white;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
}

.hidden {
    color: #7f9794;
}

#reset {
    position: relative;
    left: 50%;
}

#title {
    text-align: center;
    font-size: 25px;
}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #01744a;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #036e47;
    cursor: pointer;
  }